
.heading{
  color: rgb(32, 155, 231);

}
.photo {
  height: 280px;
  width: 280px;
  background-size: cover;
  border-radius: 12px;
}
.photoscontainer{
  padding: 10px;
  
}
.imageConatiner{
  
margin-bottom: 5px;  
}

@media screen and (max-width: 768px) {
  .photo {
    height: 120px;
    width: 120px;
    background-size:cover ;
    border-radius: 12px;
  }
  .heading{
    width: 120px;
  }
}




